.flex-wrp {
  margin-top: 60rpx;
  display: flex;
}
.flex-item {
  width: 200rpx;
  height: 300rpx;
  font-size: 26rpx;
}
.flex-item-V {
  margin: 0 auto;
  width: 300rpx;
  height: 200rpx;
}

.button_style {
  width: 500px;
  height: 80px;
  line-height: 80px;
}

.text_content {
  margin: 0 100px;
  background: #fff;
  padding: 40px 0;
  min-height: 300px;
  text-align: center;

  Text {
    display: block;
  }
}
