.container {
  background-color: #f8f8f8;
}
.flex-wrp {
  margin-top: 60px;
  display: flex;
}
.flex-item {
  width: 200px;
  height: 300px;
  font-size: 26px;
}
.flex-item-V {
  margin: 0 auto;
  width: 300px;
  height: 200px;
}

.button_style {
  width: 500px;
  height: 80px;
  line-height: 80px;
}

.text_content {
  margin: 0 100px;
  background: #fff;
  padding: 40px 0;
  min-height: 300px;
  text-align: center;

  Text {
    display: block;
  }
}

