.navigate_btn {
  width: 600px;
  height: 80px;
  text-align: center;
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #fff;
  border-radius: 10px;
  line-height: 80px;
  font-size: 28px;
  margin: 30px;
}
