.page__con__list {
  position: relative;
  display: flex;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 2px dashed #999;
  // padding-left: 180px;
  min-height: 120px;

  icon {
    position: absolute;
    left: 0;
  }

  &.icon_sml {
    icon {
      position: absolute;
      left: 40px;
      top:10px;
    }
  }
}

.icon_right {
  margin-left: auto;
  margin-right: auto;
  &_head {
    color: #333;
    font-size: 32px;
    margin-bottom: 10px;
  }

  &_tit {
    color: #999;
    font-size: 26px;
  }
}
